.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: var(--headerMarginBot);
}
.headerButton {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: 0;
  transition: var(--headerMenuButtonTransition);
  padding: var(--headerButtonPadding);
  font-size: var(--headerBtnFontSize);
  font-weight: var(--largestFontWeight);
  &:active,
  &:focus {
    outline: none;
  }
  cursor: pointer;
  &:hover {
    background-color: var(--headerHoverBg);
    border-radius: var(--headerBtnBorderRadius);
  }
}
