.calendar {
  position: relative;
  box-sizing: border-box;
  width: 250px;
  padding: 10px;
  border: 1px solid #e1e1e1;
  border-radius: 8px;
  font-family: Arial;
  .weeks {
    display: flex;
    justify-content: center;
    .week {
      width: 32px;
      height: 32px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 14px;
      font-weight: 700;
      cursor: default;
    }
  }
}
.days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);

  button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    background-color: transparent;
    font-size: 13px;
    font-weight: 60;
    border: 0;
    cursor: pointer;
    border-radius: 8px;
    &:hover {
      background-color: #f1f1f1;
      transition: 0.2s;
    }
  }
  .unVisible {
    visibility: hidden;
  }
  .extraDay {
    opacity: 0.6;
  }
  .weekend {
    color: red;
  }
  .holiday {
    background-color: rgb(246, 208, 208);
  }
}
.headerMenu {
  display: flex;
  align-items: center;
  gap: 25px;
  flex-direction: column;
  button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 15px;
    width: 70px;
    border: 0;
    background-color: rgb(241, 250, 247);
    cursor: pointer;
    transition: 0.2s;
    border-radius: 5px;
    &:hover {
      background-color: rgb(250, 177, 177);
    }
  }
}

.months {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5px;

  .activeMonth {
    background-color: rgb(158, 227, 204);
  }
}
.popupButton {
  padding: 3px 7px;
  cursor: pointer;
  border: 0;
  transition: 0.3s;
  border-radius: 5px;
  &:hover {
    background-color: aqua;
  }
}
