:root {
  --popupWrapperBg: #00000033;
  --popupContainerBg: #f4f2ef;
  --popupButtonHover: #00ffff;
  --popupButtonPaddingTopBot: 3px;
  --popupButtonPaddingLeftRight: 7px;
  --popupButtonTransition: 0.3s;
  --popupButtonBorderRadius: 5px;
  --popupZIndex: 1;
  --popupWrapperTop: 0;
  --popupWrapperLeft: 0;
  --popupWrapperBorderRadius: 8px;
  --popupTopPanelBorderSize: 1px;
  --popupTopPanelBorderRadius: 3px;
  --popupContainerWidth: 70%;
  --popupContainerHeight: 85%;
  --popupContainerBorderRadius: 5px;
  --popupMainContainerMarginTop: 14px;
  --popupMainContainerHeight: 70%;
  --popupMainContainerGap: 5px;
  --popupH3MarginLeft: 10px;
  --popupH3FontSize: 14px;
  --popupCloseBtnSize: 30px;
  --popupCloseBtnTopBeforeAfter: 50%;
  --popupCloseBtnLeftBeforeAfter: 50%;
  --popupCloseBtnWidthBeforeAfter: 2px;
  --popupCloseBtnHeightBeforeAfter: 10px;
  --popupCloseBtnTranslateBeforeAfter: -50%;
  --popupCloseBtnRotateBefore: 45deg;
  --popupCloseBtnRotateAfter: -45deg;

  --calendarBorderColor: #e1e1e1;
  --calendarButtonHoverBg: #f1f1f1;
  --calendarWeekendColor: red;
  --calendarHolidayBg: #f6d0d0;
  --calendarActiveMonth: #9ee3cc;
  --calendarWidth: 250px;
  --calendarPadding: 10px;
  --calendarBorderSize: 1px;
  --calendarBorderRadius: 8px;

  --headerHoverBg: #f1f1f1;
  --headerMenuButtonBg: #f1faf7;
  --headerMenuButtonHoverBg: #fab1b1;
  --headerMenuGap: 25px;
  --headerButtonPadding: 8px;
  --headerMenuPaddingTopBot: 8px;
  --headerMenuPaddingLeftRight: 15px;
  --headerMenuButtonWidth: 70px;
  --headerMenuButtonTransition: 0.2s;
  --headerMenuButtonBorderRadius: 5px;
  --headerMarginBot: 5px;
  --headerBtnFontSize: 14px;
  --headerBtnBorderRadius: 8px;

  --srcrollTrackColor: #f1f1f1;
  --srcrollThumbColor: #d9b3c1;
  --srcrollWidth: 8px;
  --srcrollHeight: 12px;
  --srcrollBorderRadius: 10px;

  --weekSize: 32px;
  --weekFontSize: 14px;
  --weekFontWeight: 700;

  --daysGridColums: 7;
  --daysGridColumsSize: 1fr;
  --daysButtonSize: 32px;
  --daysButtonFontSize: 13px;
  --daysButtonFontWeight: 600;
  --daysButtonTransition: 0.2s;

  --extraDayOpacity: 0.6;

  --monthGap: 5px;

  --largestFontWeight: 700;

  --datePickerActiveFocusColor: #2f80ed;
  --datePickerOpacity: 0.8;
  --datePickerColor: white;

  --inRangeColorBg: #2f80ed1a;
  --inRangeColor: #2f80ed;

  --notifyTop: 3px;
  --notifyRight: 3px;
  --notifySize: 7px;
  --notifyColor: red;
  --notifyBorderRadius: 50%;

  --fallBackPadd: 20vh;

  --olPaddingLeft: 30px;
  --olPaddingRight: 10px;
  --liMarginBot: 5px;

  --titleHeight: 27px;
  --descHeight: 60px;
  --buttonPadding: 5px;
  --buttonPaddingLeftRight: 10px;
  --borderRadius: 8px;
  --borderColor: #bdf5bf;
  --bgColor: #fafafa;
  --hoverBgColor: #ecfdc8;
  --btnTransition: 0.2s;
}
